header{
    background-color: #4696E5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px 110px;
    color: white;
    font-family: sans-serif;
    margin: 20px;
}
header>h1{
    font-size: 45px;
}
#inputItem{
margin-bottom: 10px;
width: 105%;
padding: 1%;
border-radius: 5px;
}
.btn-add{
    background-color: inherit;
    font-weight: bold;
    font-size: 15px;
    min-width: 50px;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    border-style: solid;
}
.main{
    font-family: sans-serif;
    background-color: #FBFBFB;
    height: auto;
    text-align: center;
    color: gray;
}